USE [master]
GO
/****** Object:  Database [InventoryManagement]    Script Date: 11/04/2021 9:35:07 AM ******/
CREATE DATABASE [InventoryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryManagement', FILENAME = N'D:\Shapoorji\DataBase\InventoryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryManagement_log', FILENAME = N'D:\Shapoorji\DataBase\InventoryManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryManagement]
GO
USE [InventoryManagement]
GO
/****** Object:  Table [dbo].[InventoryMaster]    Script Date: 11/04/2021 9:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryMaster](
	[InventoryId] [int] NOT NULL,
	[Name] [varchar](350) NOT NULL,
	[Description] [varchar](500) NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_InventoryMaster] PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[InventoryMaster] ([InventoryId], [Name], [Description], [Price]) VALUES (2, N'Notebook', N'Classmate', CAST(26.60 AS Decimal(18, 2)))
INSERT [dbo].[InventoryMaster] ([InventoryId], [Name], [Description], [Price]) VALUES (3, N'Pen', N'Max', CAST(15.00 AS Decimal(18, 2)))
USE [master]
GO
